<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VIBYOURS</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
        <!-- Template CSS -->
        <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
    </head>
<body>
    <div class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Add New User</h2>
            </div>
            <form name="editUserForm" action="" method="POST" onsubmit="return validateForm()">
                <input type="text" class="form-control" name="name" placeholder="Enter Name" required onkeydown="return/[a-zA-Z_ ]/i.test(event.key)">
                <br>
                <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                <br>
                <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile" required onkeydown="return/[0-9\b]/i.test(event.key) || event.keyCode === 8">
                <br>
                <input type="submit" class="btn btn-success rounded-pill" value="Add User" style="text-decoration: none; color: white;">
    
                <button class="btn btn-success rounded-pill"><a href="/admin/dashboard" style="text-decoration: none; color: white;">Go Back</a></button>

                <%
                if(typeof message !== 'undefined'){
                %>
                <p style="color: red;"><%= message %></p>
                <%
                }
                %>
    
            </form>
        </div>
    </div>
    <script>
    function validateForm() {
        // Trimming spaces
        var nameInput = document.forms["editUserForm"]["name"];
        nameInput.value = nameInput.value.trim();

        var emailInput = document.forms["editUserForm"]["email"];
        emailInput.value = emailInput.value.trim();

        var mobileInput = document.forms["editUserForm"]["mobile"];
        mobileInput.value = mobileInput.value.trim();

        // Check if any field is just spaces
        if (nameInput.value === "" || emailInput.value === "" || mobileInput.value === "") {
            alert("Please fill out all fields.");
            return false;
        }

        return true;
    }
</script>

</body>
</html>